@model Escuela

@{
    Layout = "Simple";
    ViewData["Title"] = "Informacion Escuela";
}

<h1>Escuela</h1>
<h2>Nombre: @Model?.Nombre</h2>

<h3>Tipo de escuela: @Model.TipoEscuela</h3>

<address>
    <p>Direccion: @Model.Direccion</p>
    <p>Pais: @Model.Pais</p>
    <p>Ciudad: @Model.Ciudad</p>
</address>
<p><strong>Año fundacion: @Model?.AnioDeCreacion</strong></p>