@model Curso

@{
    Layout = "Simple";
    ViewData["Title"] = "Creacion de un Curso";
}

<h1>Curso</h1>

<div asp-validation-summary="All"></div>

<form action="" method="POST" class="container">
    <div>
        <label asp-for="Nombre"></label>
        <input type="text" placeholder="Nombre del curso" asp-for="Nombre">
    </div>

    <div>
        <label asp-for="Direccion"></label>
        <input type="text" placeholder="Direccion del curso" asp-for="Direccion">
    </div>

    <div>
        <label asp-for="Jornada"></label>
        
        @Html.DropDownList(
            "Jornada", Html.GetEnumSelectList<TiposJornada>(),
                "Seleccione jornada",
                new { @class="form-control" }
        )
    </div>

    <input type="submit">
</form>
